/* screen - deals */

.deals {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 926px;
  overflow: hidden;
  width: 428px;
}

.deals .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 141px;
  width: 428px;
}

.deals .overlap-group4 {
  align-items: flex-end;
  background-color: var(--tapa);
  display: flex;
  height: 92px;
  justify-content: flex-end;
  min-width: 428px;
  padding: 0 17px;
}

.deals .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 78px;
  width: 49px;
}

.deals .deals-1 {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  margin-left: 1px;
  min-height: 21px;
}

.deals .popular {
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-weight: 700;
  letter-spacing: 0;
  margin-top: 31px;
  min-height: 16px;
}

.deals .selection {
  background-color: var(--white);
  height: 2px;
  margin-left: 1px;
  margin-top: 8px;
  width: 47px;
}

.deals .grocery {
  letter-spacing: 0;
  margin-bottom: 10px;
  margin-left: 33px;
  min-height: 16px;
  min-width: 49px;
}

.deals .alcohol {
  letter-spacing: 0;
  margin-bottom: 10px;
  margin-left: 33px;
  min-height: 16px;
  min-width: 47px;
}

.deals .household {
  letter-spacing: 0;
  margin-bottom: 10px;
  margin-left: 33px;
  min-height: 16px;
  min-width: 68px;
}

.deals .flex-col-2 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  margin-top: 3.0px;
  min-height: 69px;
  width: 48px;
}

.deals .cart-icon {
  align-items: center;
  display: flex;
  height: 18px;
  min-width: 44px;
}

.deals .group-1 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 18px;
  width: 20px;
}

.deals .vector-2 {
  height: 14px;
  margin-right: 0;
  width: 20px;
}

.deals .vector-container-1 {
  align-items: flex-start;
  display: flex;
  margin-right: 3.0px;
  margin-top: 1px;
  min-width: 10px;
}

.deals .vector-3 {
  height: 3px;
  width: 3px;
}

.deals .vector-4 {
  height: 3px;
  margin-left: 4px;
  width: 3px;
}

.deals .number {
  letter-spacing: 0;
  margin-bottom: 0;
  margin-left: 14px;
  min-height: 16px;
  min-width: 8px;
  text-align: center;
}

.deals .for-you {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 35px;
  min-height: 16px;
}

.deals .store-1 {
  letter-spacing: 0;
  margin-left: 19px;
  margin-top: 28px;
  min-height: 21px;
}

.deals .flex-row {
  align-items: flex-start;
  display: flex;
  height: 666px;
  margin-right: -14px;
  margin-top: 4px;
  min-width: 423px;
}

.deals .flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 666px;
  width: 127px;
}

.deals .delivery-by-655-pm {
  letter-spacing: 0;
  min-height: 16px;
}

.deals .pickup-available {
  letter-spacing: 0;
  margin-top: 4px;
  min-height: 16px;
}

.deals .product {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 1px;
  margin-top: 18px;
  min-height: 175px;
  width: 113px;
}

.deals .product-picture {
  background-color: var(--mist-gray);
  height: 110px;
  width: 113px;
}

.deals .x277 {
  letter-spacing: 0;
  margin-top: 3px;
  min-height: 21px;
  text-align: center;
  width: 113px;
}

.deals .span2 {
  text-decoration: line-through;
}

.deals .product-name {
  letter-spacing: 0;
  margin-top: 3px;
  min-height: 21px;
  text-align: center;
  width: 113px;
}

.deals .specs {
  letter-spacing: 0;
  margin-top: 3px;
  min-height: 14px;
  text-align: center;
  width: 113px;
}

.deals .store-2 {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 61px;
  min-height: 21px;
}

.deals .flex-col-item {
  letter-spacing: 0;
  margin-left: 1px;
  margin-top: 4px;
  min-height: 16px;
}

.deals .product-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
  margin-top: 18px;
  min-height: 175px;
  width: 113px;
}

.deals .x277-1 {
  letter-spacing: 0;
  margin-top: 3px;
  min-height: 21px;
  text-align: center;
  width: 113px;
}

.deals .product-name-1 {
  letter-spacing: 0;
  margin-top: 3px;
  min-height: 21px;
  text-align: center;
  width: 113px;
}

.deals .store-3 {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 61px;
  min-height: 21px;
}

.deals .flex-col-item-1 {
  letter-spacing: 0;
  margin-left: 2px;
  margin-top: 4px;
  min-height: 16px;
}

.deals .flex-col-4 {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 31.0px;
  margin-left: 28px;
  min-height: 527px;
  width: 114px;
}

.deals .product-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 1.0px;
  min-height: 175px;
  width: 113px;
}

.deals .price {
  letter-spacing: 0;
  margin-top: 3px;
  min-height: 21px;
  text-align: center;
  width: 113px;
}

.deals .product-name-2 {
  letter-spacing: 0;
  margin-top: 3px;
  min-height: 21px;
  text-align: center;
  width: 113px;
}

.deals .buy-3-save150 {
  letter-spacing: 0;
  margin-right: 1.0px;
  margin-top: 9px;
  min-height: 28px;
  text-align: center;
  width: 89px;
}

.deals .product-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 1.0px;
  margin-top: 103px;
  min-height: 175px;
  width: 113px;
}

.deals .price-1 {
  letter-spacing: 0;
  margin-top: 3px;
  min-height: 21px;
  text-align: center;
  width: 113px;
}

.deals .product-name-3 {
  letter-spacing: 0;
  margin-top: 3px;
  min-height: 21px;
  text-align: center;
  width: 113px;
}

.deals .buy-3-save150-1 {
  letter-spacing: 0;
  margin-left: 1.0px;
  margin-top: 9px;
  min-height: 28px;
  text-align: center;
  width: 89px;
}

.deals .flex-col-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  min-height: 663px;
  width: 114px;
}

.deals .overlap-group1 {
  height: 36px;
  margin-left: 20.0px;
  position: relative;
  width: 26px;
}

.deals .bicredit-card-2-back {
  align-items: center;
  display: flex;
  height: 24px;
  left: 1px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 24px;
}

.deals .vector-container {
  height: 18px;
  position: relative;
  width: 24px;
}

.deals .vector {
  height: 4px;
  left: 16px;
  position: absolute;
  top: 4px;
  width: 5px;
}

.deals .vector-1 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.deals .ebt {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 20px;
}

.deals .product-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 1.0px;
  margin-top: 18px;
  min-height: 175px;
  width: 113px;
}

.deals .x277-2 {
  letter-spacing: 0;
  margin-top: 3px;
  min-height: 21px;
  text-align: center;
  width: 113px;
}

.deals .product-name-4 {
  letter-spacing: 0;
  margin-top: 3px;
  min-height: 21px;
  text-align: center;
  width: 113px;
}

.deals .product-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 1.0px;
  margin-top: 140px;
  min-height: 175px;
  width: 113px;
}

.deals .x277-3 {
  letter-spacing: 0;
  margin-top: 3px;
  min-height: 21px;
  text-align: center;
  width: 113px;
}

.deals .product-name-5 {
  letter-spacing: 0;
  margin-top: 3px;
  min-height: 21px;
  text-align: center;
  width: 113px;
}

.deals .overlap-group2 {
  height: 36px;
  margin-left: 20.0px;
  margin-top: 83px;
  position: relative;
  width: 26px;
}

.deals .ebt-1 {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-s);
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 20px;
}

.deals .flex-col-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: -15px;
  margin-top: 18px;
  min-height: 212px;
  width: 443px;
}

.deals .overlap-group3 {
  height: 175px;
  position: relative;
  width: 443px;
}

.deals .product-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 22px;
  min-height: 175px;
  position: absolute;
  top: 0;
  width: 113px;
}

.deals .x277-4 {
  letter-spacing: 0;
  margin-top: 3px;
  min-height: 21px;
  text-align: center;
  width: 113px;
}

.deals .product-name-6 {
  letter-spacing: 0;
  margin-top: 3px;
  min-height: 21px;
  text-align: center;
  width: 113px;
}

.deals .product-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 330px;
  min-height: 175px;
  position: absolute;
  top: 0;
  width: 113px;
}

.deals .x277-5 {
  letter-spacing: 0;
  margin-top: 3px;
  min-height: 21px;
  text-align: center;
  width: 113px;
}

.deals .product-name-7 {
  letter-spacing: 0;
  margin-top: 3px;
  min-height: 21px;
  text-align: center;
  width: 113px;
}

.deals .product-8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 176px;
  min-height: 175px;
  position: absolute;
  top: 0;
  width: 113px;
}

.deals .price-2 {
  letter-spacing: 0;
  margin-top: 3px;
  min-height: 21px;
  text-align: center;
  width: 113px;
}

.deals .product-name-8 {
  letter-spacing: 0;
  margin-top: 3px;
  min-height: 21px;
  text-align: center;
  width: 113px;
}

.deals .bottom-menu {
  align-items: flex-end;
  background-color: var(--tapa);
  display: flex;
  height: 78px;
  justify-content: flex-end;
  left: 0;
  min-width: 428px;
  padding: 10px 22px;
  position: absolute;
  top: 19px;
}

.deals .home-icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-height: 56px;
  width: 51px;
}

.deals .vector-5 {
  height: 31px;
  margin-right: 1.0px;
  width: 32px;
}

.deals .place {
  letter-spacing: 0;
  margin-right: 2.0px;
  margin-top: 4px;
  min-height: 21px;
  min-width: 49px;
  text-align: center;
}

.deals .pickup-icon {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 54px;
  min-height: 53px;
  width: 57px;
}

.deals .vector-6 {
  height: 28px;
  margin-right: 2.0px;
  width: 31px;
}

.deals .pickup {
  letter-spacing: 0;
  margin-right: 2.0px;
  margin-top: 4px;
  min-height: 21px;
  min-width: 55px;
  text-align: center;
}

.deals .deals-icon {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 54px;
  min-height: 56px;
  width: 47px;
}

.deals .vector-7 {
  height: 31px;
  margin-right: 2.0px;
  width: 31px;
}

.deals .deals-2 {
  letter-spacing: 0;
  margin-right: 2.0px;
  margin-top: 4px;
  min-height: 21px;
  min-width: 45px;
  text-align: center;
}

.deals .orders-icon {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 54px;
  min-height: 54px;
  width: 56px;
}

.deals .orders-icon-1 {
  height: 28px;
  margin-right: 3.0px;
  width: 31px;
}

.deals .orders {
  letter-spacing: 0;
  margin-right: 2.0px;
  margin-top: 5px;
  min-height: 21px;
  min-width: 54px;
  text-align: center;
}

.deals .buy-3-save150-2 {
  letter-spacing: 0;
  margin-left: 22.0px;
  margin-top: 9px;
  min-height: 28px;
  text-align: center;
  width: 89px;
}
